@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}

:root {
    --unit: calc(min(1vw, 0.6vh));
}

html {
    user-select: none;
    width: calc(100 * var(--unit));
    height: 100%;
    margin: 0 auto;
}

body {
    height: 100%;
    margin: calc(2 * var(--unit));
    font-family: Montserrat, Arial, sans-serif;
    font-size: calc(4 * var(--unit));
}

#header {
    padding: calc(1 * var(--unit));
    border-bottom: 1px solid lightgray;
    text-align: center;
    font-size: calc(9 * var(--unit));
    color: #222;
}

#explanation {
    margin-top: calc(3 * var(--unit));
    padding: 0 calc(2 * var(--unit));
}

#start-game {
    width: calc(50 * var(--unit));
    height: calc(12 * var(--unit));
    border-radius: calc(6 * var(--unit));
    cursor: pointer;
    background-color: #2090ff;
    transition: 500ms;
    margin: calc(8 * var(--unit)) auto;
    padding-left: calc(10 * var(--unit));
    font-size: calc(5 * var(--unit));
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
}
#play {
    margin-left: auto;
    width: calc(12 * var(--unit));
    height: calc(12 * var(--unit));
    border-radius: calc(6 * var(--unit));
    background-color: #1070ff;
    transition: 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
}
#triangle-sign {
    width: 0;
    height: 0;
    margin-left: calc(1.0 * var(--unit));
    border-top: calc(2.6 * var(--unit)) solid transparent;
    border-bottom: calc(2.6 * var(--unit)) solid transparent;
    border-left: calc(4.5 * var(--unit)) solid white;
}
#start-game.disabled {
    background-color: #c0c0c0;
}
#start-game.disabled > #play {
    background-color: #b4b4b4;
}

.guess {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.score-button {
    font-size: calc(3.5 * var(--unit));
    padding: calc(1 * var(--unit)) calc(1.4 * var(--unit));
}
.guess.active > .score-button {
    cursor: pointer;
}
.score-button[score="0"] {margin-left: auto;}
.score-button[score="correct"] {
    margin-left: calc(4 * var(--unit));
    padding: calc(2 * var(--unit));
    width: calc(4 * var(--unit));
    height: calc(4 * var(--unit));
    border-radius: 50%;
}
.score-button[score="0"] {background-color: #ff8c00;}
.score-button[score="1"] {background-color: #ff9f00;}
.score-button[score="2"] {background-color: #ffb200;}
.score-button[score="3"] {background-color: #ffc500;}
.score-button[score="4"] {background-color: #ffd800;}
.score-button[score="5"] {background-color: #ffeb00;}
.score-button[score="6"] {background-color: #ffff00;}
.score-button[score="7"] {background-color: #deff00;}
.score-button[score="8"] {background-color: #bdfe00;}
.score-button[score="9"] {background-color: #9cfd00;}
.score-button[score="correct"] {background-color: #7cfc00;}
.guess:not(.active) > .score-button:not(.selected) {background-color: white; color: lightgray}

.loading {
    width: calc(5 * var(--unit));
    height: calc(5 * var(--unit));
    margin-right: calc(3 * var(--unit));
    animation: rotate linear 700ms infinite;
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    from {transform: rotate(120deg);}
}
.loading-text {
    margin-right: auto;
}
